.header-main-container{
    background-image: url('../../images/headerBG/onebg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

.header-main-container h1{
    color: white;
    font-weight: 800;
    font-size: 63px;
}

.header-main-container button{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 22px;
    font-weight: 500;
    background-color: rgb(5, 106, 129);
    color: white;
}