.advertising-container{
    background-color: rgb(63, 63, 63);
}

.advertising-container h1{
    color: honeydew;
    font-size: 50px;
}

.advertising-image-container{
    padding: 0px 30px 20px 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.advertising-image img{
    width: 221px;
    height: 121px;
    /* padding: 5px 0px; */
    border-radius: 10px;
}