.services-parents{
    background-color: rgb(148, 153, 247);
    color: white;
    margin-top: 0px;
}

.services-parents h1{
    font-size: 50px;
    margin-bottom: 0px;
}
.services-parents p{
    font-size: 30px;
    margin-top: 0px;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px 70px;
    padding-bottom: 30px;
}

.service-category{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 30px 10px 50px;
}

.service-category p{
    margin-bottom: 0px;
    text-align: left;
    font-size: 17px;
}


.read-more-btn{
    background-color: darkslateblue;
    color: white;
    font-size: 19px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
}

.read-more-btn:hover{
    border: none;
    background-color: rgb(178, 167, 248);
    color: rgb(41, 35, 35);
    font-size: 19px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}