.payment-partner-all-parents h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(45, 181, 254);
}
.payment-partner-image-container{
    background-color: rgba(146, 128, 154, 0.261);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.payment-image img{
    width: 221px;
    height: 121px;
    border-radius: 10px;
}